@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: black;
}

.conteudo {
  margin-top: 120px;
  margin-bottom: 120px;
  border-top: 0.4px solid greenyellow;
}

.aviso {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-aviso-escrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.conteudo-aviso-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  align-items: center;
  color: greenyellow;
}

.conteudo-aviso-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: greenyellow;
}

.rodape {
    padding: 32px;
    background-color: greenyellow;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
}